extends includes/layout
block main
  .wrapper
    .main
      .links
        .links__item
          a(target="blank" href='/items/mogo/views/html/index.html') Mogo
          p адаптивная верска, gulp, sass
        .links__item
          a(target="blank" href='/items/resto/public/html/index.html') Resto
          p адаптивная верска, gulp, sass, grid fallbacks
        .links__item
          a(target="blank" href='/items/resto/public/html/index.html') kekapp
          p React, redux, react-router
        .links__item.links__item_gt
          a(target="blank" href="https://github.com/Akohas") Ссылка на github