extends includes/layout
block main
  .wrapper
    .main
      .links
        .links__item
          a(href='items/1/views/html/index.html') Mogo
          p адаптивная верстка, gulp, sass.
        .links__item
          a( href='items/2/public/html/index.html') Resto
          p адаптивная верстка, gulp, sass, grid fallback.
        .links__item
          a( href='http://52.14.202.2') kekapp
          p Приложение для учета финансов. React, redux, react-router.
        .links__item
          a( href='https://www.castlerock.ru/') castlerock.ru
          p Проект с предыдущего места работы. Bemjson, sass, адаптивная верстка
        .links__item.links__item_gt
          a( href="https://github.com/Akohas") Ссылка на github