extends includes/layout
block main
  .wrapper
    .main
      .links
        .links__item
          a(target="blank" href='/items/1/views/html/index.html') Mogo
          p адаптивная верска, gulp, sass.
        .links__item
          a(target="blank" href='/items/2/public/html/index.html') Resto
          p адаптивная верска, gulp, sass, grid fallback.
        .links__item
          a(target="blank" href='http://52.14.202.2') kekapp
          p Приложение для учета финансов. React, redux, react-router.
        .links__item.links__item_gt
          a(target="blank" href="https://github.com/Akohas") Ссылка на github